/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

/*audio,
canvas,
img,
video {
    vertical-align: middle;
}*/

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
    opacity: .85;
    height: 100%;
}

.main-container{
    color: white;
    font-family: 'Raleway';
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

header{
    background-color: darkslategray;
    height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
}

.Rosenthal-website-title{
    display: block;
    float: left;
    padding-left: 5px;
}

.main-nav{
    float: right;
}

.main-nav-list{
    margin-top: 0;
    padding-left: 28em;
    padding-right: 5px;
    padding-top: .5em;
}

.main-nav li{
    display: inline-block;
}

.main-nav li:after{
    content: '|';
}

.main-nav li:last-child:after{
    content: '';
}

.main-nav a{
    color: white;
    font-family: 'Lora';
    text-decoration: none;
}

.main-nav a:hover{
    color: black;
}

.course-titles{
    font-size: 2.5em;
    padding-left: 8px;
    margin-top: 0;
}

.hamburger{
    display: none;
    font-size: 4em;
}

.hero-container{
    padding-top: 5em;
}

.hero-descriptor{
    font-size: 1.25em;
    padding-left: 8px;
}

.hero_philosophy{
/*    clear:right;
*/   height: 100%;
     padding-top: 5em;
     /*margin-bottom: -2.5em;*/
}

.philosophy_block1{
    float: left;
    height: 18.8em;
    width:35%;
}

.phil-class-resources{
    padding-right: 30px;
}

.philosophy-class-links{
    background-color: yellow;
    border: solid;
    border-radius: 20px;
    font-size: 2em;
    margin-bottom: 5px;
    list-style: none;
    text-align: center;
}

.philosophy-class-links a:hover{
    color:white;
}

.philosophy-link{
    color:black;
    text-decoration: none;
}

.philosophy_block2{
    float: right;
    width:65%;
}

.philosophy_block2 img{
    width: 100%;
}

.hero_world-history{
    height:100%;
}

.world-history_block1{
    float: left;
    width:65%;
}

.world-history_block1 img{
    width:100%;
}

}
.world-history_block2{
    float: right;
    height: 18.8em;
    width: 35%;
}

.hist-class-resources{
    float: right;
    padding-right: 30px;
    width:35%;
}

.hist-class-links{
    background-color: yellow;
    border: solid;
    border-radius: 20px;
    font-size: 2em;
    margin-bottom: 5px;
    list-style: none;
    text-align: center;
}

.hist-class-links a:hover{
    color:white;
}

.hist-link{
    color:black;
    text-decoration: none;
}

.hero_psychology{
    height: 100%;
}

.psychology_block1 {
    float: left;
    height: 18.8em;
    width: 35%;
}

.psychology_block2{
    float: right;
    width: 65%;
}

.psychology_block2 img{
    width: 100%;
}

.psyc-class-resources{
    padding-left: 30px;
    padding-right: 30px;
}

.psyc-class-links{
    background-color: yellow;
    border: solid;
    border-radius: 20px;
    font-size: 2em;
    margin-bottom: 5px;
    list-style: none;
    text-align: center;
}

.pysc-link {
    color: black;
    text-decoration: none;
}

.psyc-class-links a:hover{
    color:white;
}

footer{
    clear: both;
}
footer p{
    font-size: .75em;
    text-align: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*start mobile styles*/
@media  screen and (min-width: 751px) {
    .main-nav-list{
        display: block;
        visibility: visible;
    }
}    
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 750px) {
    .Rosenthal-website-title{
    }


    .main-nav-list{
        display: none;
    }

    .hamburger{
        display: block;
        float: right;
    }

    .main-nav-list ul{
        display:block;
    }

    .main-nav-list li{
        width: 100%;
        background-color: black;
    }

    .main-nav-list li:after{
    content: '';
    }

    .main-nav-list li a{
        color: white;
    }

    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
